name: mydumper Coverage
on: [push, pull_request]
jobs:

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.19
      uses: actions/setup-go@v2
      with:
        go-version: '^1.19.1'
      id: go

    - name: Check out code
      uses: actions/checkout@v2

    - name: Coverage
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        make coverage
        bash <(curl -s https://codecov.io/bash) -f "!mock.go" -t 27d0f712-a1c6-42b3-92a5-ad7c9117ed1a
